
body{
    font-family: 'Baloo Paaji 2', cursive;
}

nav{
    padding: 2rem 5rem;
    width: 100%;
    border-bottom: 2px solid darkgray;
}

.nav-title{
    padding: 0rem 1.5rem;
    color: darkgray;
}

.nav-title-main {
    width: auto;
    display: block;
    font-size: 2rem;
}

.global-summary{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
